footer {
    background: #000;
    padding: 50px 0 20px 0;
    position: relative;
}

footer h3 {
    color: #919496;
    font-size: 0.8em;
    text-transform: uppercase ;
}

footer .navbar-nav a {
    color: #fff;
    font-size: 0.8em;
}

footer .navbar-nav a:hover {
    color: #9bf0e1;
}

footer p {
    text-align: center;
    margin-top: 25px;
    padding-top: 25px;
    color: #FFF;
    border-top: 1px #e1e1e1 solid;
}

footer a {
    text-decoration: none;
    color: #FFF;
    transition: transform 100ms cubic-bezier(.45,.97,.68,2.48); 
}

footer a:hover {
    text-decoration: none;
    color: #9bf0e1;
    transform: scale(1.08);
}

.footer-h3 {
    text-align: left;
}



@media (max-width: 768px) {
    .footer-h3 {
        padding-top: 25px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    footer #logo {
        font-size: 0.8em;
    }
}
